{% include 'elements/js/app.html' %}
{% include 'elements/js/mytime.html' %}
{% include 'elements/js/charities.html' %}
{% include 'elements/js/flower.html' %}
{% include 'elements/js/friends.html' %}
{% include 'elements/js/settings.html' %}
{% include 'elements/js/flower-charity.html' %}
{% include 'elements/js/giveform.html' %}
{% include 'elements/js/give.html' %}
{% include 'elements/js/modal.html' %}
{% include 'elements/js/mytime-donations.html' %}
{% include 'elements/js/mytime-causes.html' %}
{% include 'elements/js/mytime-flowers.html' %}
{% include 'elements/js/charities-categories.html' %}
{% include 'elements/js/charities-charities.html' %}
{% include 'elements/js/charities-charity.html' %}
{% include 'elements/js/donation.html' %}
{% include 'elements/js/login.html' %}
{% include 'elements/js/minuteflower.html' %}
{% include 'elements/js/password.html' %}
{% include 'elements/js/settings-salary.html' %}
{% include 'elements/js/settings-paypal.html' %}
{% include 'elements/js/settings-email.html' %}
{% include 'elements/js/settings-minute_value.html' %}
{% include 'elements/js/ticker.html' %}

</body></html>
