<script type="text/javascript">

function TLogin(container, callbackLogin, parent) {
    this.callbackLogin = callbackLogin;
    this.init(container, parent);
}

TLogin.prototype.init = function(container, parent) {
    this.id = uniqid();
    this.container = container;
    this.parent = parent;
    this.container.hide();
    this.container.html(sf($('#login-template').html(), [this.id]));
    this.clearScreens();
    $(sf('#{0}_login-options-div', [this.id])).show();
}

TLogin.prototype.create = function() {
    this.update();
    this.addListeners();
    this.container.show();
}

TLogin.prototype.destroy = function() {
    this.clearListeners();
    this.container.hide();
}

TLogin.prototype.update = function() {}

TLogin.prototype.addListeners = function() {
    this.clearListeners();
    var jselem = this;

    $(sf('#{0}_login-signup-td', [this.id])).click(function() {
        jselem.clearScreens();
        $(sf('#{0}_login-signup-div', [jselem.id])).show();
    });
    $(sf('#{0}_login-signup2-link', [this.id])).click(function() {
        jselem.clearScreens();
        $(sf('#{0}_login-signup-div', [jselem.id])).show();
    });
    $(sf('#{0}_login-signin-td', [this.id])).click(function() {
        jselem.clearScreens();
        $(sf('#{0}_login-signin-div', [jselem.id])).show();
    });
    $(sf('#{0}_login-signin2-link', [this.id])).click(function() {
        jselem.clearScreens();
        $(sf('#{0}_login-signin-div', [jselem.id])).show();
    });
    $(sf('#{0}_login-signup3-link', [this.id])).click(function() {
        jselem.clearScreens();
        $(sf('#{0}_login-signup-div', [jselem.id])).show();
    });
    $(sf('#{0}_login-signin3-link', [this.id])).click(function() {
        jselem.clearScreens();
        $(sf('#{0}_login-signin-div', [jselem.id])).show();
    });
    $(sf('#{0}_login-signin4-link', [this.id])).click(function() {
        jselem.clearScreens();
        $(sf('#{0}_login-signin-div', [jselem.id])).show();
    });
    $(sf('#{0}_forgot-password-link', [this.id])).click(function() {
        jselem.clearScreens();
        $(sf('#{0}_forgot-password-div', [jselem.id])).show();
    });
    $(sf('#{0}_login-signin-form', [this.id])).submit(function() {
        var form = this;
        $.post('/api/login/', {
            csrfmiddlewaretoken: getCookie('csrftoken'),
            username: $(this).find('input[name=username]').val(),
            password: $(this).find('input[name=password]').val()
        }, function(res) {
            res = JSON.parse(res);
            if (res)
                jselem.callbackLogin();
            else {
                (new TModal('Please try again', jselem)).create()
            }
            $(form).find('input[type!=submit]').val('');
        });
        return false;
    });
    $(sf('#{0}_forgot-password-form', [this.id])).submit(function() {
        var form = this;
        $.post('/api/user/forgotpassword/', {
            csrfmiddlewaretoken: getCookie('csrftoken'),
            email: $(this).find('input[name=email]').val(),
            
        }, function(res) {
            res = JSON.parse(res);
            if (res)
            {
                jselem.clearScreens();
                $(sf('#check_newpass',[this.id])).show();
            }
            else {
                (new TModal('Please try again', jselem)).create()
            }
            $(form).find('input[type!=submit]').val('');
        });
        return false;
    });
    
    $(sf('#{0}_login-signup-form', [this.id])).submit(function() {
        var form = this;
        $.post('/api/register/', {
            csrfmiddlewaretoken: getCookie('csrftoken'),
            username: $(this).find('input[name=username]').val(),
            email: $(this).find('input[name=email]').val(),
            password1: $(this).find('input[name=password1]').val(),
            password2: $(this).find('input[name=password2]').val()
        }, function(res) {
            res = JSON.parse(res);
            if (res)
                jselem.callbackLogin();
            else {
                (new TModal('Please try again', jselem)).create()
            }
            $(form).find('input[type!=submit]').val('');
        });
        return false;
    });
    $(sf('#{0}_login-login-td', [this.id])).click(function() {
        $(sf('#{0}_login-signin-form', [jselem.id])).submit();
    });
    $(sf('#{0}_login-register-td', [this.id])).click(function() {
        $(sf('#{0}_login-signup-form', [jselem.id])).submit();
    });
    
}

TLogin.prototype.clearListeners = function() {
    $(sf('#{0}_login-signup-td', [this.id])).unbind('click');
    $(sf('#{0}_login-signup2-link', [this.id])).unbind('click');
    $(sf('#{0}_login-signin-td', [this.id])).unbind('click');
    $(sf('#{0}_login-signin2-link', [this.id])).unbind('click');
    $(sf('#{0}_login-signin-form', [this.id])).unbind('submit');
    $(sf('#{0}_login-signup-form', [this.id])).unbind('submit');
    $(sf('#{0}_login-login-td', [this.id])).unbind('click');
}

TLogin.prototype.clearScreens = function() {
    $(sf('#{0}_login-options-div', [this.id])).hide();
    $(sf('#{0}_login-signup-div', [this.id])).hide();
    $(sf('#{0}_login-signin-div', [this.id])).hide();
    $(sf('#{0}_forgot-password-div',[this.id])).hide();
    $(sf('#check_newpass',[this.id])).hide();
}

</script>


<script type="text/template" id="login-template">

<div id="{0}_login-div" class="loginDiv">
    <div id='check_newpass'>
        <p> Please check the email id to
            <a href='javascript:void(0)' id='{0}_login-signin4-link'> Sign in </a>
        with new password</p>
    </div>
    <div id="{0}_login-options-div">
        <div style="padding: 60px 0px 90px 0px">
            <img src="/static/img/minuteflower-logo-sm.svg"/>
        </div>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td align="center" class="button_login_fb">
                    <a href="/login/facebook/">Sign in with Facebook</a>
                </td>
            </tr>
            <tr><td align="center" style="height:5px"></td></tr>
            <tr>
                <td align="center" class="buttonLarge" id="{0}_login-signup-td">
                    <a href="javascript:void(0)" id="{0}_login-signup-link">Sign up</a>
                </td>
            </tr>
            <tr><td align="center" style="height:5px"></td></tr>
            <tr>
                <td align="center" class="buttonLarge" id="{0}_login-signin-td">
                    <a href="javascript:void(0)" id="{0}_login-signin-link">Sign in</a>
                </td>
            </tr>
            <tr><td align="center" style="height:50px"></td></tr>
        </table>
    </div>
    <div id="{0}_login-signin-div">
        <div style="padding: 60px 0px 20px 0px">
            <img src="/static/img/minuteflower-logo-sm.svg"/>
        </div>
        <form id="{0}_login-signin-form">
            <table cellspacing="0" cellpadding="0" width="100%">
                <tr><td class="loginInputContainer" align="center">
                    <input type="text" name="username" placeholder="username" class="loginInput" />
                </td></tr>
                <tr><td style="height:10px"></td></tr>
                <tr><td class="loginInputContainer" align="center">
                    <input type="password" name="password" placeholder="password" class="loginInput" />
                </td></tr>
                <tr><td style="height:10px"></td></tr>
                <tr>
                    <td align="center" class="buttonLarge" id="{0}_login-login-td">
                        <input type="submit" value="login" class="loginSubmit" />
                    </td>
                </tr>
            </table>
        </form>
        <a href = "javascript:void(0)" id="{0}_forgot-password-link" class="rawlink">Forgot password</a>
        <a href="javascript:void(0)" id="{0}_login-signup2-link" class="rawlink">Sign up</a>
    </div>
    <div id="{0}_login-signup-div">
        <div style="padding: 60px 0px 20px 0px">
            <img src="/static/img/minuteflower-logo-sm.svg"/>
        </div>
        <form id="{0}_login-signup-form">
            <table cellspacing="0" cellpadding="0" width="100%">
                <tr><td class="loginInputContainer" align="center">
                    <input type="text" name="username" placeholder="username" class="loginInput" />
                </td></tr>
                <tr><td style="height:10px"></td></tr>
                <tr><td class="loginInputContainer" align="center">
                    <input type="text" name="email" placeholder="email" class="loginInput" />
                </td></tr>
                <tr><td style="height:10px"></td></tr>
                <tr><td class="loginInputContainer" align="center">
                    <input type="password" name="password1" placeholder="password" class="loginInput" />
                </td></tr>
                <tr><td style="height:10px"></td></tr>
                <tr><td class="loginInputContainer" align="center">
                    <input type="password" name="password2" placeholder="confirm password" class="loginInput" />
                </td></tr>
                <tr><td style="height:10px"></td></tr>
                <tr>
                    <td align="center" class="buttonLarge" id="{0}_login-register-td">
                        <input type="submit" value="register" class="loginSubmit" />
                    </td>
                </tr>
            </table>
        </form>
        
        <a href="javascript:void(0)" id="{0}_login-signin2-link" class="rawlink">Sign in</a>
    </div>
    <div id="{0}_forgot-password-div">
        <div style="padding: 60px 0px 20px 0px">
            <img src="/static/img/minuteflower-logo-sm.svg"/>
        </div>
        <form id="{0}_forgot-password-form">
            <table cellspacing="0" cellpadding="0" width="100%">
                <tr><td class="emailInputContainer" align="center">
                    <input type="text" name="email" placeholder="example@example.com" class="emailInput" />
                </td></tr>
                <tr><td style="height:10px"></td></tr>
                
                <tr>
                    <td align="center" class="buttonLarge" id="{0}_forgot-password-td">
                        <input type="submit" value="New password" class="loginSubmit" />
                    </td>
                </tr>
            </table>
        </form>
        <br/>
        <a href="javascript:void(0)" id="{0}_login-signup3-link" class="rawlink">Sign up</a>
        <a href="javascript:void(0)" id="{0}_login-signin3-link" class="rawlink">Sign in</a>
    </div>
</div>

</script>
