<script type="text/javascript">

function TCharitiesCharity(charity_id, container, parent) {
    this.charity_id = charity_id;
    this.init(container, parent);
}

TCharitiesCharity.prototype.init = function(container, parent) {
    this.id = uniqid();
    this.container = container;
    this.parent = parent;
    this.container.hide();
    this.container.html(sf($('#charitiescharity-template').html(), [this.id, '', '']));
    this.giveform = null;
    this.charity = null;
}

TCharitiesCharity.prototype.create = function() {
    this.update();
    this.addListeners();
    this.container.show();
}

TCharitiesCharity.prototype.destroy = function() {
    this.clearListeners();
    this.container.hide();
}

TCharitiesCharity.prototype.update = function() {
    var jselem = this;
    $.get(sf('/api/charity/{0}/', [this.charity_id]), function(res) {
        res = JSON.parse(res);
        jselem.charity = res;
        jselem.container.html(
            sf($('#charitiescharity-template').html()[
                jselem.id,
                res[0].fields.name,
                res[0].derived.image_url])
        );
        jselem.addListeners();
    });
}

TCharitiesCharity.prototype.addListeners = function() {
    this.clearListeners();
    var jselem = this;

    $(sf('#{0}_charitiescharity-button', [this.id])).click(function() {
        if (jselem.giveform)
            jselem.giveform.destroy();
        jselem.giveform = new TGiveForm(
                $(sf('#{0}_charitiescharity-giveform-container', [jselem.id])),
                function(success) {
                    new TModal('Your give has been set up', jselem).create();
                }, jselem);
        jselem.giveform.setCharity(
                jselem.charity_id,
                jselem.charity[0].fields.name,
                jselem.charity[0].fields.description,
                jselem.charity[0].derived.category_image_url);
        jselem.giveform.create();
    });
}

TCharitiesCharity.prototype.clearListeners = function() {
    $(sf('#{0}_charitiescharity-button', [this.id])).unbind('click');
}

</script>


<script type="text/template" id="charitiescharity-template">

<div id="{0}_charitiescharity-div" class="charitiesCharityDiv">
    <table style="width:100%" cellpadding="6"><tr height="57">
    <td style="width:60px; text-align:left"><img src="{2}" height="50" width="50" /></td>
    <td><span id="{0}_charitiescharity-name-text" class="charityTitle">{1}</span></td>
    <td style="width: 50px"><a href="javascript:void(0)" id="{0}_charitiescharity-button">Give</a></td>
    </tr></table>
    <div id="{0}_charitiescharity-giveform-container"></div>
</div>

</script>
