<script type="text/javascript">

function TPassword(container, parent) {
    this.init(container, parent);
}

TPassword.prototype.init = function(container, parent) {
    this.id = uniqid();
    this.container = container;
    this.parent = parent;
    this.container.hide();
    this.container.html(sf($('#password-template').html(), [this.id]));
}

TPassword.prototype.create = function() {
    this.update();
    this.addListeners();
    this.container.show();
}

TPassword.prototype.destroy = function() {
    this.clearListeners();
    this.container.hide();
}

TPassword.prototype.update = function() {}

TPassword.prototype.addListeners = function() {
    this.clearListeners();

    var jselem = this;
    $(sf('#{0}_password-back-link', [this.id])).click(function() {
        jselem.destroy();
    });
    $(sf('#{0}_password-close-link', [this.id])).click(function() {
        jselem.destroy();
    });
    $(sf('#{0}_password-form', [this.id])).submit(function() {
        $.post('/api/user/password/', {
            password: $(this).find('[name=password]').val(),
            password2: $(this).find('[name=password2]').val()
        }, function(res) {
            res = JSON.parse(res);
            if (res) {
                (new TModal("Your password was successfully changed")).create();
            } else {
                (new TModal("A problem occurred")).create();
            }
            jselem.destroy();
        });
        return false;
    });
}

TPassword.prototype.clearListeners = function() {
    $(sf('#{0}_password-back-link', [this.id])).unbind('click');
    $(sf('#{0}_password-close-link', [this.id])).unbind('click');
}

</script>


<script type="text/template" id="password-template">

<div id="{0}_password-div" class="changeSettingsDiv">
    <div style="width:100%; background-image:url(/static/img/titlebar.png); background-size:100%; height:42px">
        <table cellpadding="0" cellspacing="0"><tr>
            <td width="20%" style="text-align:left">
                <a href="javascript:void(0)" id="{0}_password-back-link"><img src="/static/img/btn-back.png" style="height:30px; padding: 6px;" /></a>
            </td><td width="60%">
                <img src="/static/img/minuteflower-logo-sm.svg" width="100%"/>
            </td><td width="20%" style="text-align:right">
                <a href="javascript:void(0)" id="{0}_password-close-link"><img src="/static/img/btn-close.png" style="height:30px; padding: 6px;" /></a>
            </td>
        </tr></table>
    </div>
    <br/>

    <form id="{0}_password-form">
        <table width="100%">
            <tr><td class="loginInputContainer" align="center">
                <input type="password" name="password" class="loginInput" placeholder="new password" />
            </td></tr>
            <tr><td style="height:10px"></td></tr>
            <tr><td class="loginInputContainer" align="center">
                <input type="password" name="password2" class="loginInput" placeholder="confirm password" />
            </td></tr>
            <tr><td style="height:10px"></td></tr>
            <tr><td class="buttonLarge" align="center">
                <input type="submit" value="change password" class="loginSubmit" />
            </td></tr>
        </table>
    </form>
</div>

</script>
