<html>
<head>
    <title>MinuteFlower</title>

    <script type="text/javascript" src="/static/js/lib/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/static/js/lib/date.format.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/global.js"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript" src="/static/js/jselement.js"></script>
    <script type="text/javascript" src="/static/js/polarclock.js"></script>

    <link href="/static/css/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/polarclock.css" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" href="/static/img/ico-homescreen.png" />

    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <script type="text/javascript">
        window.addEventListener("load", function() {
            setTimeout(function() {
                window.scrollTo(0, 1);
            }, 1000);
        });
    </script>
</head>
<body>

<div id="modal-div"></div>
