{% include "elements/header.html" %}
<div style="background-image: url('/static/img/login_signup_bg.png');background-size: 100%;background-position: 0px 0px;background-repeat: no-repeat;">
<div style="padding: 60px 0px 90px 0px">
            <img src="/static/img/minuteflower-logo-sm.svg">
        </div>


{% block title %}{% endblock %}


{% block content %}
<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
<p>You should be receiving it shortly.</p>
{% endblock %}
