{% include "elements/header.html" %}
<div style="background-image: url('/static/img/login_signup_bg.png');background-size: 100%;background-position: 0px 0px;background-repeat: no-repeat;">
<div style="margin-bottom:20px">
            <img src="/static/img/minuteflower-logo-sm.svg">
        </div>

{% block pagetitle %}{% endblock %}

{% block content %}
<div style="text-align:center; margin:0px auto">
<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<form action="" method="post">
 <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" class="loginSubmit" value="Reset password" /></p>
	<div style="display:inline-block;color:red;margin-left:-100px">{{ form.email.errors }}</div>
</form>
</div>
{% endblock %}
{% include "elements/footer.html" %}
